@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This is a student project hosted on GitHub, therefore do not expect perfect privacy.</p>
<p>I will never collect or use your data for personal means, or sell it to third parties.</p>
<P>By registering and using this site, you understand that nature of free and open source projects are i </P>
